
nav { 
    padding: 0 10px; 
    border-top: 2px solid lightgray; 
    border-bottom: 2px solid lightgray; 
}
nav a:first-child { 
    color: gray; 
    text-decoration: none; 
    display: block; 
    width: 100%; 
    text-align: left; 
    font-family: Arial, Helvetica, sans-serif; 
}
nav a:hover { 
    cursor: pointer; 
    display: block; 
    width: 50%; 
}
.form { 
    display: block; 
    width: 100%; 
    text-align: center; 
    margin-top: 20px; 
     
    


}
ul { 
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    width: 100%; 
    grid-gap: 15px; 
    padding-left: 0; 
}
img { 
    max-width: 96%; 
    padding: 2%; 
    padding-top: 3px; 
    margin: auto; 
}
.border { 
    border: 1px solid lightgray; 
    color: gray; 
}
li a { 
    text-decoration: none; 
}
h2 { 
    font-size: 12px; 
    margin-left: 12px;
}
footer { 
    background: black; 
    color: white; 
    display: block; 
    text-align: center; 
    width: 95%; 
    font-size: 16px; 
    padding: 10px;
    margin-left: 5px; 
     

}
.pic { 
    border: 2px solid black; 
    padding-top: 4px; 
    color: gray;
    grid-column-start: 1; 
    grid-column-end: 4; 
} 

 .pic p, .pic li { 
    margin-left: 20px; 
}
.pic li { 
    list-style: square; 
    margin-left: 40px; 
    padding-bottom: 10px; 
}

.search-page { 
    color: gray; 
    text-decoration: none; 
    
}
.search-page-title { 
    margin-left: 20px; 
    font-size: 2em; 
    margin-bottom: 0; 
    padding-bottom: 0; 
    text-align: center; 
    color: gray; 
}
.pic-container { 
    padding: 0 40px; 
}
.comment-time { 
    height: 10px; 
} 
.comment-form { 
    display: block; 
    width: 100%; 
    text-align: center; 
}
@media (min-width: 994px) { 
    .pic p , h2 { 
        font-size: 2em; 
    }
}
/* tablet */ 
@media (max-width: 992px) { 
    ul { 
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        width: 100%; 
    }
    h1 { 
        font-size: 2em; 
    }
    .pic { 
        grid-column-start: 1; 
        grid-column-end: 4; 
        
    }
} 

/* mobile */ 
@media (max-width: 768px) { 
    ul { 
        display: grid; 
        grid-template-columns: 1fr; 
        width: 100%; 
    }
    h1 { 
        font-size: 3em; 
    }
    h2 { 
        font-size: 2em;
        margin-left: 14px; 
    }


} 