{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" > 
        
</head>
<body>
    <header>
        <nav> 
            <a href="/"> <h1> Photogur </h1></a>
        </nav>  
        <form class="form" action="{% url 'picture_search' %}" method="get"> 
            <label for="picture-search"> 
                <span>Search: </span> 
                <input type='search' id="picture-search" name="query" />
            </label>

            <input type="submit" value="Search" />
        </form> 
    </header> 
    {% block content %}
    {% endblock %}
    <footer> Jacob Benaim © </footer> 
</body>
</html>

