{% extends 'base.html' %}
{% block content %}
    <ul> 
        {% for picture in pictures %}

            <li style="list-style: none; "> 
                
                
                <a href="{% url 'picture_details' id=picture.pk %}">
                    <div class="border"> 
                    <img src="{{picture.url}}" alt="{{picture.title}}" > 
                    <h2>{{picture.title}} By: {{picture.artist}}</h2> 
                    </div> 
                </a>
                    <p>Comments: {{picture.comments.count}}</p>
                
        {% endfor %} 
            </li>
    </ul> 
{% endblock %}