
{% extends 'base.html' %}
{% block title %}
    {{ picture.title }}
{% endblock %}
{% block content %}
    
    <div class='pic-container'> 
        
        <ul> 
            <div class='pic'> 
                <img src="{{picture.url}}" alt="{{picture.title}}" />
                    <h2>{{picture.title}} By {{picture.artist}}</h2>
                    <p> Comments: {{picture.comments.count}}</p>
                    {% for comment in picture.comments.all %}
                        <li id="comment1" > {{comment}}</li>
                    {% endfor %}
            </div> 
            
        </ul> 
    
    </div>
{% endblock %}