
{% extends 'base.html' %}
{% block title %}
    {{ picture.title }}
{% endblock %}
{% block content %}
    
    <div class='pic-container'> 
        
        <ul> 
            <div class='pic'> 
                <img src="{{picture.url}}" alt="{{picture.title}}" />
                    <h2>{{picture.title}} By {{picture.artist}}</h2>
                    
                    <p> <a href="{% url 'edit_picture' picture.pk %}">Edit Post</a></p>
                    <p> Comments: {{picture.comments.count}}</p>
                    {% for comment in picture.comments.all %}
                        <li id="comment1" > {{comment}}  <br>  <span class='comment-time'>{{comment.name}} | {{comment.created_at}} </span>
                        
                            <a href='/comments/{{comment.pk}}/delete' > X </a>
                        </li>
                         
                    {% endfor %}
            </div> 
            
        </ul> 
    
    </div>
    <form class='comment-form' action="{% url 'create_comment' %}" method="post"> 
        {% csrf_token %}
        <input type='hidden' name='picture' value="{{ picture.pk }}" > 
        <label for='name'> Name: </label> 
        <input type='text' name='name' value="{{ picture.name }}">  
        <label for='message'> Message: </label> 
        <textarea name="message" rows="4" cols="60" placeholder="Enter a comment..." ></textarea> 
        <input type='submit' value="Submit" > 



    
    </form>

{% endblock %}