{% extends 'base.html' %}
{% block content %}
        {% for picture in pictures %}
            <li style="list-style: none; "> 
                <h1>{{picture.title}} </h1> 
                <h2>By: {{picture.artist}}</h2>
                <a href="{% url 'picture_details' id=picture.pk %}">
                    <img src="{{ picture.url }}" alt="{{ picture.title}}" > 
                </a>
                {%for comment in comments %}
                    {% if picture.id == comment.id %}
                        <p>Comments: {{picture.comments.count}}</p>
                    {% endif %}
                    {% endfor %}
        {% endfor %} 
            </li>
{% endblock %}